/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
  }
form{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    height: 80%;
    box-shadow: 2px 2px 10px 1px #0a112818;
}
nav{
    width: 100%;
    background-color: #00171f;
    font-size: 30px;
}
nav ul{
    margin: 0 auto;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav ul li{
    list-style: none;
    
}
nav ul li:hover{
    background-color: #1282a2;
}

a{
    text-decoration: none;
    color: #053F77;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button-container button{
    background-color: #007ea7;
    margin: 10px;
}
input[type=text] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=password] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=text]:focus {
    border:none;
    outline: none;
    background-color: #007ea7;
    color: #0a1128;
  }

  button{
      width: 100px;
      height: 60px;
      background-color: #043C72;
      border:none;
     
      padding: 7px 10px;
      color:#fefcfb;
      cursor: pointer;
  }
  .HomeButton{
      background-color: transparent;
      width: min-content;
      height: min-content;
  }
  .HomeButton:hover{
      cursor: pointer;
      background-color: #fefcfb;
  }
.preview-Container{
    margin: 0 auto;
    background-color: #fefcfb;
    border: 3px solid #0a1128;
    width: 80%;

}
.form-Styling{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

label{
    margin: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

label span{
    font-weight: 200;
    font-style: italic;
    text-indent: 90px;

}

.button-Container__inside-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button-Container__inside-form button{
    margin: 10px;
}
.outer_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-Content__container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fefcfb;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-Content__container::-webkit-scrollbar {
    display: none;
  }

.sidebar__scootch{
    height: 100vh;
    width: 40px;
    color: #00a8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    background-color: #034078;
}
.sidebar__scootch:hover{
    cursor: pointer;
    width: 40px;
    align-items: flex-start;
    content: "Features"
}
.sidebar__scootch span{
    font-size: 30px;
}
.sideBar__holder{
    display: flex;
    width: 50px;
    flex-direction: row;
    right: -10px;
    position: absolute;
    background-color: #fefcfb;
    z-index: 5;
}
.sideBar__holder.active{
    right: 0px;
    width: 500px;
    transition: width .25s ease-in;
}
.side-bar__container{
    padding-left: 10px;
    margin-top: 50px;
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
}
.innerSidebar div:hover{
    color: #034078;
    cursor: pointer;
}
.side-bar__container div span{
    width: 190px;
    overflow: hidden;
}
.side-bar__container div{
    display: flex;
    flex-direction: column;
}

.edit button{

    display: flex;
    align-content: center;
    justify-content: center;
    height: 20px;
    width: 70px;
}

.splashPage{
    width: 100%;
    background-color: #00a8e8;
    display: grid;
    /* grid-area: 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
            "a a a a"
            "m m m m"
            "b b c c"
            "d e e e"
            "f f g g"
            "h h h i";
}
.splashPage p{
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 100%;
    padding: 15px;
   
}
.splashPage img{
    background-color: #00a8e8;
    padding: 15px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.splash-header{
    grid-area: a;
    font-size: 46px;
}
.splash__x{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    grid-area: m;
}

.splash__b{
    grid-area: b;
}
.splash__c{
    grid-area: c;
}

.splash__d{
    grid-area: e;
}

.splash__e{
    grid-area: d;
}

.splash__f{
    grid-area: f;
}

.splash__g{
    grid-area: g;
}

.splash__h{
    grid-area: h;
}
.splash__i{
    grid-area: i;
}
.dropdown__container{
    position: relative;
}
.signup{
    margin: 0 auto;
}
.dropdown {
    position: absolute;
    top: 79px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #0a1128;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
textarea{
    margin: 0 auto;
    padding-left: 40px;
    width: 80%;
    height: 400px;
    outline: none;
    border: none;
    border-bottom: 4px solid #043C72;
    font-family: 'Montserrat', sans-serif;
}
.dropdown::-webkit-scrollbar {
    display: none;
  }
  
.dropdown li{
    width: 100%;
    padding:10px;
    margin:0px;
}
ul.dropdown{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.innerSidebar{
display: flex;
flex-direction: column;
border-bottom: 2px solid #0a1128;
padding-bottom: 10px;
}
.innerSidebar li{
list-style: none;
padding: 7px;
}
.innerSidebar ul{
    margin: 0px;
    padding: 0px
}

