/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
form{
    width: 100%;
    background-color: white;
    
}
nav{
    width: 100%;
    background-color: #00171f;
    font-size: 30px;
}
nav ul{
    margin: 0 auto;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav ul li{
    list-style: none;
    
}
nav ul li:hover{
    background-color: #1282a2;
}

a{
    text-decoration: none;
    color: #053F77;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button-container button{
    background-color: #007ea7;
    margin: 10px;
}
input[type=text] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=password] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=text]:focus {
    border-radius: 5px;
    border: 3px solid #0a1128;
    background-color: #007ea7;
    color: #0a1128;
  }

  button{
      width: 100px;
      height: 60px;
      background-color: #043C72;
      border:none;
     
      padding: 7px 10px;
      color:#fefcfb;
      cursor: pointer;
  }
.preview-Container{
    margin: 0 auto;
    background-color: #fefcfb;
    border: 3px solid #0a1128;
    width: 80%;

}
.form-Styling{
    padding: 10px;
    margin: 0 auto;
    width: 80%;

}

label{
    margin: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

label span{
    font-weight: 200;
    font-style: italic;
    text-indent: 90px;

}

.button-Container__inside-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button-Container__inside-form button{
    margin: 10px;
}
.outer_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-Content__container{
    width: 90%;

}
.side-bar__container{
    border-left: grey 3px solid;
    padding-left: 10px;
    margin-top: 50px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
.side-bar__container div:hover{
    color: #034078;
    cursor: pointer;
}
.side-bar__container div span{
    width: 190px;
    overflow: hidden;
}
.side-bar__container div{
    display: flex;
    flex-direction: column;
}

.edit button{
    color:gray;
    height: 30px;
    width: 60px;
}

.splashPage{
    width: 100%;
    background-color: #00a8e8;
    display: grid;
    /* grid-area: 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
            "a a a a"
            "m m m m"
            "b b c c"
            "d e e e"
            "f f g g"
            "h h h i";
}
.splashPage p{
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 100%;
    padding: 15px;
   
}
.splashPage img{
    background-color: #00a8e8;
    padding: 15px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.splash-header{
    grid-area: a;
    font-size: 46px;
}
.splash__x{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    grid-area: m;
}

.splash__b{
    grid-area: b;
}
.splash__c{
    grid-area: c;
}

.splash__d{
    grid-area: e;
}

.splash__e{
    grid-area: d;
}

.splash__f{
    grid-area: f;
}

.splash__g{
    grid-area: g;
}

.splash__h{
    grid-area: h;
}
.splash__i{
    grid-area: i;
}


