/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
}
form{
    width: 80%;
    margin: 0 auto;
}
nav{
    width: 100%;
    background-color: #1282a2;
    font-size: 30px;
}
nav ul{
    margin: 0 auto;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0a1128;
}

nav ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #0a1128;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button-container button{
    background-color: #1282a2;
    margin: 10px;
}
input[type=text] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=password] {
    width: 100%;
    margin:30px;
    padding: 12px 20px;
    height: 50px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid #0a1128;
}
input[type=text]:focus {
    border-radius: 5px;
    border: 3px solid #0a1128;
    background-color: #5b909e6c;
    color: #0a1128;
  }

  button{
      width: 100px;
      height: 60px;
      background-color: #034078;
      border:none;
      border-radius: 10px;
      padding: 7px 10px;
      color:#fefcfb;
      cursor: pointer;
  }
.preview-Container{
    margin: 0 auto;
    background-color: #fefcfb;
    border: 3px solid #0a1128;
    width: 80%;

}
.form-Styling{
    padding: 40px;
    margin: 0 auto;
    width: 80%;

}

label{
    margin: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

label span{
    font-weight: 200;
    font-style: italic;
    text-indent: 90px;

}

.button-Container__inside-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button-Container__inside-form button{
    margin: 10px;
}
